*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 8px;
  display: block;
}

/* Variables ------------------------------------*/
:root {
  --primary-color: #fff;
  --secondary-color: #444;
  --third-color:#116c1d;
}

/* Main Styling ----------------------------------*/
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

img{
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}


/* Navbar -----------------------------------------*/
#navbar {
  background: var(--secondary-color);
  color: var(--primary-color);
 
}

#navbar .container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem
}

#navbar a {
  color: var(--primary-color);
}

#navbar ul li{
  display: block;
}

#navbar ul li a {
  padding: 0.5rem;
}

.dropbtn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border-style: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7c08a;
  min-width: 160px;
  width: 200px;
  z-index: 1;
  border-radius: 0.5rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d4a372;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ede8e8;}


/* Content ------------------------------------------*/
.container {
  margin: auto;
  max-width: 1000px;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

#mainHeading{
  color: red;
}

.container-info {
  margin: auto;
  max-width: 1000px;
  display: flex;
  margin-top: 0.5rem;
}


.info-left, .info-right{
  width: 50%;
}

.info-left{
  padding: 4rem 0 0
  
}

.info-left h1 {
  padding-bottom: 0.5rem;
}

.bg-dark {
  background-color: #fcefe2;
}

.funParagraph {
  color: green;
  text-indent: 10%;
}

.figcap {
  text-align: center;
  font-size: 0.8rem;
}

/* Footer -------------------------------------------- */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}